@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif !important;
}

/* Reset Margins, Padding, and Font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set Minimum Height for Body */
body {
  min-height: 100vh;
  font-size: 1.6rem;
}

/* Reset List Styles */
ol,
ul,
li {
  list-style: none;
}

/* Remove Button Borders */
button {
  border: none;
}

/* Responsive Images and Media */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Preserve Whitespace in Textarea */
textarea {
  white-space: revert;
}

/* Reset All Styles for Most Elements */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Remove Underline from Links */
a {
  text-decoration: none;
  color: black;
}
