// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  // font-family: 'Poppins', sans-serif !important;
  font-family: 'Poppins' !important;
}

/* Reset Margins, Padding, and Font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set Minimum Height for Body */
body {
  min-height: 100vh;
  font-size: 1.6rem;
}

/* Reset List Styles */
ol,
ul,
li {
  list-style: none;
}

/* Remove Button Borders */
button {
  border: none;
  cursor: pointer;
}

/* Responsive Images and Media */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Preserve Whitespace in Textarea */
textarea {
  white-space: revert;
}

/* Reset All Styles for Most Elements */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Remove Underline from Links */
a {
  text-decoration: none;
  color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input {
  height: 30px;
  width: 96%;
  border: 0.5px solid #00000040;
  border-radius: 10px;
  padding: 5px 10px;
}
input:active {
  // border: 0.5px solid rgba(129, 126, 255, 0.8) !important;
  // box-shadow: 0 0 0 1px rgba(129, 126, 255, 0.8);
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  // background: rgba(0, 0, 71, 0.6);
  background-color: transparent;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 71, 1);
}
