.mainDetailsPanelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 20px 0 0 0;
  border-radius: 10px;
  padding: 22px 23px;
  .sectionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
  .sectionOne {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    background: #f7f9fb;
  }
  .sectionTwo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    div {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      span:nth-child(1) {
        color: rgba(129, 126, 255, 1);
      }
    }
    div:nt-child(2) {
      gap: 27px;
    }
  }
  .sectionThree {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    div {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      span:nth-child(1) {
        color: rgba(129, 126, 255, 1);
      }
    }
    div:nt-child(2) {
      gap: 27px;
    }
  }
  .sectionFour {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
